@media screen and ( min-height:860px ){
    .head_title {
    	top: 34%;
    }
}

@media screen and ( min-height:960px ){
    .head_title {
    	top: 30%;
    }
}

@media screen and (max-width: 550px) and (min-width: 500px)  {
     .logo-img{
        display: none;
    }
}

@media screen and (max-width: 600px) and (min-width: 200px){
    #fourth{
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media screen and (max-width: 300px){
    #back-to-top{
        padding: 5px 8px 5px 8px;
        right: 0.3em;
    }
}

@media screen and (max-width: 450px) and (min-width: 250px)  {
.head_title h1{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    }
    .head_title h2{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Italiana', serif;  
}  
    .hero p {
        font-size: 35px;
    }
}


@media screen and (max-width:767px) {
    .launch{
        margin-bottom: 10px;
    }
    #closebt-container{
        margin-top: 15px;
    }
    #modal-container{
        margin-top: 15px;
    }
    .modal-title{
        font-size: 25px;
    }
    .modal-p{
        font-size: 12px !Important;
    }
   .closebt{
        width:32px;
        height: 32px;
    }
    nav ul{
        margin: 0px;
    }
.top .head_title {
    position: absolute;
    font-family: 'Great Vibes', cursive;
    height: 250px;
    color: #fff;
    z-index: 101;
    width: 100%;
    overflow: hidden;
    line-height: 1;
    letter-spacing: -1px;
    }
    
    .arrow {
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

}